<head>
    <meta charset="UTF-8"/>
    <title>Dishes</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/standard.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap"
            rel="stylesheet"
    />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
</head>
<footer>
    <section class=footer-section>
        <ul class="footer-container-flex">
            <li>
                <h2 class="footer-title">Food App</h2>
                <nav>
                    <ul>
                        <li>
                            <a href=/ class="link"><p class="footer-text">Home</p></a>
                        </li>
                        <li>
                            <a href="#" class="link"><p class="footer-text">Recipes</p></a>
                        </li>
                        <li>
                            <a href="#" class="link"><p class="footer-text">Shops</p></a>
                        </li>
                        <li>
                            <a href="blog/" class="link"><p class="footer-text">Blog</p></a>
                        </li>
                        <li>
                            <a href="create-recipe/" class="link"><p class="footer-text">Create-recipe</p></a>
                        </li>
                    </ul>
                </nav>
            </li>
            <li>
                <h2 class="footer-title">Product</h2>
                <nav>
                    <ul>
                        <li>
                            <a href="#" class="link"><p class="footer-text">Food App</p></a>
                        </li>
                        <li>
                            <a href="#" class="link"><p class="footer-text">Food App</p></a>
                        </li>
                        <li>
                            <a href="#" class="link"><p class="footer-text">Food App</p></a>
                        </li>
                        <li>
                            <a href="#" class="link"><p class="footer-text">Food App</p></a>
                        </li>
                    </ul>
                </nav>
            </li>
            <li>
                <h2 class="footer-title">Decisions</h2>
                <nav>
                    <ul>
                        <li>
                            <a href="#" class="link"><p class="footer-text">Business</p></a>
                        </li>
                        <li>
                            <a href="#" class="link"><p class="footer-text">Education</p></a>
                        </li>
                    </ul>
                </nav>
            </li>
            <li>
                <h2 class="footer-title">Company</h2>
                <nav>
                    <ul>
                        <li>
                            <a href="#" class="link"><p class="footer-text">Our story</p></a>
                        </li>
                        <li>
                            <a href="#" class="link"><p class="footer-text">Blog</p></a>
                        </li>
                        <li>
                            <a href="#" class="link"><p class="footer-text">About us</p></a>
                        </li>
                        <li>
                            <a href="#" class="link"><p class="footer-text">Privacy policy</p></a>
                        </li>
                        <li>
                            <a href="#" class="link"><p class="footer-text">Contact us</p></a>
                        </li>
                    </ul>
                </nav>
            </li>
        </ul>
    </section>
    <section class="footer-soc">
        <ul class="footer-soc-list list">
            <li class="footer-soc-item">
            <a class="footer-soc-link link" href="#">
                <svg class="footer-soc-icon">
                <use href="../../static/img/icons.svg#icon-linkedin"></use>
                </svg>
            </a>
            </li>
            <li class="footer-soc-item">
            <a class="footer-soc-link link" href="#">
                <svg class="footer-soc-icon">
                <use href="../../static/img/icons.svg#icon-facebook"></use>
                </svg>
            </a>
            </li>
            <li class="footer-soc-item">
            <a class="footer-soc-link link" href="#">
                <svg class="footer-soc-icon">
                <use href="../../static/img/icons.svg#icon-twitter"></use>
                </svg>
            </a>
            </li>
            <li class="footer-soc-item">
            <a class="footer-soc-link link" href="#">
                <svg class="footer-soc-icon">
                <use href="../../static/img/icons.svg#icon-instagram"></use>
                </svg>
            </a>
            </li>
        </ul>
    </section>
</footer>